.top{
    display: flex;
    
    
    
}


#gameBoard {
    display: flex;
    margin-top: 50px;   
    margin-left: 800px;
}

.mid{
    display: flex;
}

.bottom{
    display: flex;
}

.square{
    display: flex;
    border-style: solid;
    font-size: 100px;   
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
    
    
}

#title{
    
    text-align: center;
    color: red;
    font-size: 100px;
}

#players{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#startBtn{
    margin-top: 50px;
    margin-left: 900px;
    
}

.top{
    margin-top: 30px;
}

#turn{
    font-size: larger;
}



